
<div class="add-transaction-controls">
    <label class="switch-wrapper">
        <input type="checkbox" class="checkbox--hidden">
        <div class="switch">
            <span class="switch-label">Income</span>
            <span class="switch-label switch-label--center"><span class="btn--arrow"><span class="arrow arrow--outer fa fa-long-arrow-right"></span></span>
        </span>
            <span class="switch-label">Expences</span>
        </div>
    </label>
    <div class="input-wrapper">
        {{#x-select value=model.category action="selectCategory" required=true classNames="form-control"}}
            {{#each categories as |category|}}
                {{#x-option value=category}}{{category.name}}{{/x-option}}
            {{/each}}
        {{/x-select}}
    </div>
    <div class="input-wrapper">
        {{#x-select value=model.wallet action="selectWallet" required=true classNames="form-control"}}
            {{#each wallets as |wallet|}}
                {{#x-option value=wallet}}{{wallet.name}}{{/x-option}}
            {{/each}}
        {{/x-select}}
    </div>
    <div class="input-wrapper">
        {{input class="form-control" placeholder="Transaction Amount" value=model.amount}}
    </div>
    <div class="input-wrapper">
        <button class="form-control transaction-btn" id="transaction-quick-add" {{action 'save'}}>Add transaction</button>
    </div>
</div>
{{#if transaction.isNegative}}
    <sub class="add-transaction-operation add-transaction-operation--outer">
        <span class="arrow arrow fa fa-long-arrow-right"></span>
        <!-- {{transaction.amount}} {{transaction.wallet.currency.name}} -->
        240.00 UAH
    </sub>
{{else}}
    <sub class="add-transaction-operation add-transaction-operation--inner">
        <span class="arrow arrow fa fa-long-arrow-right"></span>
        <!-- {{transaction.amount}} {{transaction.wallet.currency.name}} -->
        240.00 UAH
    </sub>
{{/if}}
<div class="add-transaction-balance balance">
    <h2 class="balance-amount">24,455.00 USD</h2>
</div>
