<div class="wallets-charts row">
  {{#if mobileView}}
      <div class="col-xs-12 col-md-6">
          {{high-charts
          chartOptions=mobileCharts.outcome.chartOptions
          content=mobileCharts.outcome.chartData
          theme=mobileCharts.outcome.chartTheme}}
      </div>
      <div class="col-xs-12 col-md-6">
          {{high-charts
          chartOptions=mobileCharts.income.chartOptions
          content=mobileCharts.income.chartData
          theme=mobileCharts.income.chartTheme}}
      </div>
  {{else}}
      <div class="col-xs-12 col-md-6">
          {{high-charts
          chartOptions=charts.outcome.chartOptions
          content=charts.outcome.chartData
          theme=charts.outcome.chartTheme}}
      </div>
      <div class="col-xs-12 col-md-6">
          {{high-charts
          chartOptions=charts.income.chartOptions
          content=charts.income.chartData
          theme=charts.income.chartTheme}}
      </div>
  {{/if}}
</div>
