<div class="{{if isHidden "" "open"}} add-{{modelName}}">
    {{#if (eq modelName "transaction")}}
        <div class="add-transaction-label">
            <span class="">Add transaction</span>
        </div>
        <div class="add-transaction-controls">
            {{switch-box model=model checkedProperty="isIncome" firstValueText="Expenses" secondValueText="Income"}}
            <div class="input-wrapper">
                {{#x-select value=model.category action="selectCategory" required=true classNames="form-control" }}
                    {{#each categories as |category|}}
                        {{#x-option value=category}}{{category.name}}{{/x-option}}
                    {{/each}}
                {{/x-select}}
            </div>
            <div class="input-wrapper">
                {{#x-select value=model.wallet action="selectWallet" required=true classNames="form-control" }}
                    {{#each wallets as |wallet|}}
                        {{#x-option value=wallet}}{{wallet.name}}{{/x-option}}
                    {{/each}}
                {{/x-select}}
            </div>
            {{#input-wrapper model=model valuePath="amount" }}
                {{input class="form-control" placeholder="Transaction Amount" value=model.amount}}
            {{/input-wrapper}}
            <div class="input-wrapper-group">
                <div class="input-wrapper">
                    <button class="form-control transaction-btn" id="transaction-quick-add" {{action 'save'}}>Add transaction</button>
                </div>
                <div class="input-wrapper">
                    <button class="form-control btn btn--cancel" id="transaction-cancel-add" {{action 'close'}}>Cancel</button>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if (eq modelName "wallet")}}
        <div class="add-wallet-label">
            <span class="">Add wallet</span>
        </div>
        <div class="add-wallet-controls">
            {{#input-wrapper model=model valuePath="name"}}
                {{input class="form-control" placeholder="Wallet Name" value=model.name}}
            {{/input-wrapper}}
            {{#input-wrapper model=model valuePath="amount"}}
                {{input class="form-control" placeholder="Wallet Amount" value=model.amount}}
            {{/input-wrapper}}
            <div class="input-wrapper">
                <button class="form-control wallet-btn" id="wallet-quick-add" {{action 'save'}}>Add wallet</button>
            </div>
            <div class="input-wrapper">
                <button class="form-control btn btn--cancel" id="wallet-cancel-add" {{action 'close'}}>Cancel</button>
            </div>
        </div>
    {{/if}}
</div>