<div class="transactions-wrapper">
  <div class="panel panel-default panel-custom transactions">
    <div class="panel-heading">
      <h3 class="panel-title">TRANSACTIONS</h3>
    </div>
    <div class="panel-body">
      <div class="row row--flex form-group transactions-filter">
        <div class="transactions-filter--item">
          {{#x-select action="didMakeSelection" classNames="form-control form-control--skimpy" as |xs|}}
            {{#xs.option}}All categories{{/xs.option}}
            {{#each categories as |category|}}
              {{#xs.option value=category.id}}{{category.name}}{{/xs.option}}
            {{/each}}
          {{/x-select}}
        </div>
        <div class="transactions-filter--item transactions-type">
          <div class="btn btn-group">
            <div class="btn btn-category" {{action 'filterByIsNegative' 0}}>All transactions</div>
            <div class="btn btn-category" {{action 'filterByIsNegative' -1}}>Expenses</div>
            <div class="btn btn-category" {{action 'filterByIsNegative' 1}}>Income</div>
          </div>
        </div>
        <div class="transactions-filter--item transactions-date">
        <div class="select-date">
          <span class="fa fa-angle-left"></span>
          <span class="">October 2016</span>
          <span class="fa fa-angle-right"></span>
        </div>
          <div class="btn btn-group">
            <div class="btn btn-category">Week</div>
            <div class="btn btn-category">Month</div>
            <div class="btn btn-category">Year</div>
          </div>
        </div>
      </div>
      <div class="row row--flex">
        <ul class="col-xs-12 list list-unstyled list-flex list-transactions">
          {{#each transactions as |transaction|}}
            <li class="list-item">
              <span class="list-cell color-indicator" style="background-color: {{transaction.category.color}}"></span>
              <div class="list-cell list-cell--description">
                <div class="list-cell">{{transaction.category.name}}</div>
                <div class="list-cell list-cell--operation">
                  {{#if transaction.isNegative}}
                    <span class="arrow arrow--outer fa fa-long-arrow-right"></span>
                  {{else}}
                    <span class="arrow arrow--inner fa fa-long-arrow-right"></span>
                  {{/if}}
                  {{transaction.amount}} {{transaction.wallet.currency.name}}
                </div>
                <div class="list-cell">{{format-date transaction.createdAt}}</div>
                <div class="list-cell">{{transaction.wallet.name}}</div>
                <div class="list-cell text-right">
                  <button class="btn btn--hidden btn--edit" {{action "edit" transaction}}><i class="btn-icon fa fa-pencil"></i>Edit</button>
                  <button class="btn btn--hidden btn--delete" {{action "delete" transaction}}><i class="btn-icon fa fa-close"></i>Delete</button>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
