<div class="transactions-wrapper">
  <div class="panel panel-default panel-custom transactions transactions-all">
    <div class="panel-heading">
      <h3 class="panel-title">TRANSACTIONS</h3>
    </div>
    {{#unless isHidden}}
      {{confirm-delete model=modelToDelete close="cancelDelete" delete="deleteRecord"}}
    {{/unless}}
    <div class="panel-body">
      <div class="row--flex form-group transactions-filter">
        <div class="transactions-filter--item">
          {{#x-select action="filterByCategory" classNames="form-control form-control--skimpy" as |xs|}}
            {{#xs.option}}All categories{{/xs.option}}
            {{#each categories as |category|}}
              {{#xs.option value=category.id}}{{category.name}}{{/xs.option}}
            {{/each}}
          {{/x-select}}
        </div>
        <div class="transactions-filter--item transactions-type">
          <div class="btn btn-group">
            <div class="btn btn-category" {{action 'filterByIsIncome' 'all'}} id="all">All</div>
            <div class="btn btn-category" {{action 'filterByIsIncome' 'expenses'}} id="expenses">Expenses</div>
            <div class="btn btn-category" {{action 'filterByIsIncome' 'income'}} id="income">Income</div>
          </div>
        </div>
        {{date-filter
          filterActionName="filterTransactions"
          filterTransactions="filterTransactions"}}
      </div>
      <div class="row row--flex">
        <ul class="col-xs-12 list list-unstyled list-flex list-transactions">
          {{#each transactions as |transaction|}}
            <li class="list-item">
              <span class="list-cell color-indicator" style="background-color: {{transaction.category.color}}"></span>
              <div class="list-cell list-cell--description">
                <div class="list-cell">{{transaction.category.name}}</div>
                <div class="list-cell list-cell--operation">
                  {{#if transaction.isIncome}}
                      <span class="arrow arrow--inner fa fa-long-arrow-right"></span>
                  {{else}}
                      <span class="arrow arrow--outer fa fa-long-arrow-right"></span>
                  {{/if}}
                  {{transaction.amount}} {{transaction.wallet.currency.name}}
                </div>
                <div class="list-cell">{{format-date transaction.createdAt}}</div>
                <div class="list-cell">{{transaction.wallet.name}}</div>
                <div class="list-cell text-right">
                  <button class="btn btn--hidden btn--edit" {{action "edit" transaction}}><i class="icon-edit"></i></button>
                  <button class="btn btn--hidden btn--delete" {{action "delete" transaction}}><i class="icon-delete"></i></button>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
