<div class="wallets-wrapper">
    {{#unless isHidden}}
        {{confirm-delete model=modelToDelete close="cancelDelete" delete="deleteRecord"}}
    {{/unless}}

    {{#each wallets as |wallet|}}
        <div class="panel panel-default panel-custom wallets wallets-all">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{wallet.name}}
                    <div class="text-right">
                        <button class="btn btn--edit" {{action "edit" wallet}}><i class="icon-edit"></i></button>
                        <button class="btn btn--delete" {{action "delete" wallet}}><i class="icon-delete"></i></button>
                    </div>
                </h3>
            </div>
            <div class="panel-body row">
                <div class="col-md-2">
                    <h5 class="balance-title">Total balance</h5>
                    <h2 class="balance">{{wallet.balance}} USD</h2>
                    <h5 class="light-date">{{wallet.currentMonthAndYear}}</h5>
                </div>
                {{charts-wallets
                    chartMonthIncomeData=wallet.monthIncomeData
                    chartMonthOutcomeData=wallet.monthOutcomeData
                    chartCategories=wallet.categories
                    chartIncomeData=wallet.incomeData
                    chartOutcomeData=wallet.outcomeData}}
            </div>
        </div>
    {{/each}}
</div>
