<div class="wallets-wrapper">
    {{#unless isHidden}}
        {{confirm-delete model=modelToDelete close="cancelDelete" delete="deleteRecord"}}
    {{/unless}}

    {{#each wallets as |wallet|}}
        <div class="panel panel-default panel-custom wallets wallets-all">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{wallet.name}}
                    <div class="text-right">
                        <button class="btn btn--edit" {{action "edit" wallet}}><i class="icon-edit"></i></button>
                        <button class="btn btn--delete" {{action "delete" wallet}}><i class="icon-delete"></i></button>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <h2 class="balance">{{wallet.balance}} USD</h2>
            </div>
        </div>
    {{/each}}
</div>
