<form>
  {{#input-wrapper valuePath="description" model=model}}
    <label>Description</label>
    {{input
      type="text"
      value=model.description
      classNames="form-control"
      placeholder="Transaction description"}}
  {{/input-wrapper}}
  {{#input-wrapper valuePath="amount" model=model}}
    <label>Amount</label>
    {{input
      type="text"
      value=model.amount
      classNames="form-control"
      placeholder="Amount"}}
  {{/input-wrapper}}
  {{#input-wrapper valuePath="isNegative" model=model}}
    {{#radio-button
      value="-"
      changed="isNegativeChanged"
      groupValue=isNegative}}
        -
    {{/radio-button}}
    {{#radio-button
      value="+"
      changed="isNegativeChanged"
      groupValue=isNegative}}
        +
    {{/radio-button}}
  {{/input-wrapper}}
  {{#input-wrapper valuePath="createdAt" model=model}}
    <label>Created At</label>
    {{bs-datetimepicker date=model.createdAt forceDateOutput=true format='DD-MM-YYYY' updateDate=(action (mut model.createdAt))}}
  {{/input-wrapper}}

  {{#input-wrapper model=model valuePath="category"}}
    <label>Category</label>
    {{#x-select value=category action="selectCategory" required=true classNames="form-control"}}
      {{#x-option}}Choose the category...{{/x-option}}
      {{#each categories as |category|}}
        {{#x-option value=category}}{{category.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  {{/input-wrapper}}
  {{#input-wrapper model=model valuePath="wallet"}}
    <label>Wallet</label>
    {{#x-select value=wallet action="selectWallet" required=true classNames="form-control"}}
      {{#x-option}}Choose the wallet...{{/x-option}}
      {{#each wallets as |wallet|}}
          {{#x-option value=wallet}}{{wallet.name}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  {{/input-wrapper}}
</form>
