<div id="wrapper" class="wrapper">
  <div id="sidebar-wrapper" class="sidebar">
    <div class="sidebar-top-block"></div>
    <ul class="sidebar-nav">
      <li>
        {{#link-to "dashboard"}} <i class="sidebar-icon fa fa-th-large"></i><span>Dashboard</span>{{/link-to}}
      </li>
      <li>
        {{#link-to "transactions"}}<i class="sidebar-icon fa fa-exchange"></i><span>Transactions</span>{{/link-to}}
      </li>
    </ul>
    <div class="sidebar-bottom-block"></div>
  </div>
  <div class="content">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          {{#link-to "dashboard" classNames="navbar-brand" }}Booker{{/link-to}}
          <div class="nav navbar-nav">
            <span id="hamburger" {{action 'toggleSidebar'}} class="navbar-toggle burger-btn">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
            {{#each flashMessages.queue as |flash|}}
              {{flash-message flash=flash}}
            {{/each}}
            <div class='add-btns'>
              <span {{action "addTransaction"}} class="transaction-btn" id="transaction-quick-add"><i class="nav-icon icon--circle"></i><span class="m-hidden">Add transaction</span></span>
              <span {{action "addWallet"}} class="wallet-btn" id="wallet-quick-add"><i class="nav-icon nav-icon--green icon--circle"></i><span class="m-hidden">Add wallet</span></span>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {{add-transaction model=transaction isHidden=hidden categories=categories wallets=wallets}}
    <div id="page-content-wrapper" class="content-wrapper">
      <div class="container-fluid">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
