<div class="row">
    <div class="col-xs-12 col-lg-5">
      <div class="panel panel-default panel-custom panel-wallets">
          <div class="panel-heading">
              <h3 class="panel-title">Total balance</h3>
          </div>
          <div class="panel-body">
              <h2 class="balance">{{balance}} UAH</h2>
          </div>
        </div>
        <div class="panel panel-default panel-custom panel-wallets">
          <div class="panel-heading">
              <h3 class="panel-title">Wallets</h3>
          </div>
          <div class="panel-body">
            <ul class="list list-unstyled list-flex list-wallets">
                  {{#each wallets as |wallet index|}}
                    {{#if (lt index 2)}}
                      <li class="list-item">
                        <span class="list-cell list-icon"></span>
                        <div class="list-cell list-cell--description">
                          <div class="list-cell">{{wallet.name}}</div>
                          <div class="list-cell">{{wallet.balance}} UAH</div>
                        </div>
                      </li>
                    {{/if}}
                  {{/each}}
              </ul>
              <div class="text-right wallets-link">
                {{#link-to 'wallets'}}Show all wallets{{/link-to}}
              </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-7">
        <div class="panel panel-default panel-custom panel-charts">
            <div class="panel-heading">
                <h3 class="panel-title">Statistics</h3>
            </div>
            <div class="panel-body row">
                <div class="col-md-6">
                    {{ember-chart type="radar" class="chart" data=charts.outcomeData options=charts.options width=300 height=295}}
                </div>
                <div class="col-md-6">
                    {{ember-chart type="radar" class="chart" data=charts.incomeData options=charts.options width=300 height=295}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xlg-6">
    <div class="panel panel-default panel-custom transactions">
      <div class="panel-heading">
          <h3 class="panel-title">EXPENCES TRANSACTIONS</h3>
      </div>
      <div class="panel-body">
        <ul class="list list-unstyled list-flex list-transactions">
          {{#each (reverse transactions) as |transaction index|}}
            {{#if (lt index 5)}}
                <li class="list-item">
                      <span class="list-cell color-indicator" style="background-color: {{transaction.category.color}}"></span>
                      <div class="list-cell list-cell--description">
                        <div class="list-cell">{{transaction.category.name}}</div>
                        <div class="list-cell list-cell--operation"><span class="arrow arrow--outer fa fa-long-arrow-right"></span>{{transaction.amount}} UAN</div>
                        <div class="list-cell">{{format-date transaction.createdAt}}</div>
                        <div class="list-cell">{{transaction.wallet.name}}</div>
                    </div>
              </li>
            {{/if}}
          {{/each}}
        </ul>
        <div class="text-right transactions-link">
          {{#link-to 'transactions'}}Show all transactions{{/link-to}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-xlg-6">
    <div class="panel panel-default panel-custom transactions">
      <div class="panel-heading">
          <h3 class="panel-title">INCOME TRANSACTIONS</h3>
      </div>
      <div class="panel-body">
        <ul class="list list-unstyled list-flex list-transactions">
          {{#each (reverse transactions) as |transaction index|}}
            {{#if (lt index 5)}}
                <li class="list-item">
                      <span class="list-cell color-indicator" style="background-color: {{transaction.category.color}}"></span>
                      <div class="list-cell list-cell--description">
                        <div class="list-cell">{{transaction.category.name}}</div>
                        <div class="list-cell list-cell--operation"><span class="arrow arrow--inner fa fa-long-arrow-right"></span>{{transaction.amount}} UAN</div>
                        <div class="list-cell">{{format-date transaction.createdAt}}</div>
                        <div class="list-cell">{{transaction.wallet.name}}</div>
                    </div>
              </li>
            {{/if}}
          {{/each}}
        </ul>
        <div class="text-right transactions-link">
          {{#link-to 'transactions'}}Show all transactions{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
