<div class="row">
    <div class="col-xs-12 col-lg-5">
        <div class="panel panel-default panel-custom panel-wallets">
            <div class="panel-heading">
                <h3 class="panel-title">Wallets</h3>
            </div>
            <div class="panel-body">
                <div class="balance clearfix">
                    <h2>Balance <span class="pull-right"> {{balance}} UAH</span></h2>
                </div>
                <ul class="list list-unstyled">
                    {{#each wallets as |wallet|}}
                        <li class="list-item">{{wallet.name}} <span class="pull-right"> {{wallet.balance}}</span></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-7">
        <div class="panel panel-default panel-custom panel-charts">
            <div class="panel-heading">
                <h3 class="panel-title">Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ember-chart type="line" data=charts.balanceData options=charts.options width=500 height=250}}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ember-chart type="radar" data=charts.incomeData options=charts.options width=250 height=250}}
                    </div>
                    <div class="col-md-6">
                        {{ember-chart type="radar" data=charts.outcomeData options=charts.options width=250 height=250}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-custom panel-charts transactions">
    <div class="panel-heading">
        <h3 class="panel-title">Recent transactions</h3>
    </div>
    <table class="table table-striped transactions-list text-capitalize">
      <tbody>
        {{#each (reverse transactions) as |transaction index|}}
            <tr class="transactions-row">
            {{#if (lt index 5)}}
                <td class="transactions-cell"><span class="color-indicator" style="background-color: {{transaction.category.color}}"></span><span class="category">{{transaction.category.name}}</span></td>
                {{#if transaction.isNegative}}
                    <td class="transactions-cell transactions-cell--negative">-{{transaction.amount}} UAN</td>
                {{else}}
                    <td class="transactions-cell transactions-cell--positive">+{{transaction.amount}} UAN</td>
                {{/if}}
                <td class="transactions-cell">{{format-date transaction.createdAt}}</td>
                <td class="transactions-cell">{{transaction.wallet.name}}</td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="panel-footer">
      {{#link-to 'transactions'}}Show all transactions{{/link-to}}
    </div>
</div>
